*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;



}

.topo{
font-style: italic;   
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display:flex;
justify-content: space-around;
margin: 2em;
padding: 4em;
border-radius: 15vh;
background-color: red;


}

body {
    background-color: yellow;
    font-family: 'Arial', sans-serif;
   
}

.container {
 
    margin: 0 auto;
    padding: 20px;
   display: grid;
    background-color: white;

    
}

h1 {
    border-radius: 15px;
    border: solid;
    font-family: 'Verdana', sans-serif;
    color: hsl(0, 77%, 22%);
    font-size: 44px;
    text-align: center;
    margin-bottom: 30px;
    background-color: beige;
}

.menu {
    
    margin-top: 25px;
    border: solid;
    background-color:yellow;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}




.menu-item {
    margin-bottom: 15px;
}




h3 {
    font-size: 18px;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}


h4 {
    font-size: 18px;
    color:black;
    margin-top: 0;
    margin-bottom: 5px;
}
p {
    color: #777;
    margin-top: 0;
    margin-bottom: 0;
}